/server/
*.dll
txData/default/logs
./txData/default/logs
/txData/default/logs
txData/server-data/cache
./txData/server-data/cache
/txData/server-data/cache
txData/server-data/db
./txData/server-data/db
/txData/server-data/db