@import url('https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    font: 12px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* #background-grid-line {
    background-image: linear-gradient(45deg, whitesmoke, 0.1px, transparent);
    background-size: 10px 10px;
    background-position: -1px -1px;
} */

/* PANEL IN HERE START */
#container-panel {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    z-index: 10;
}

.controller {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 345px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#main-controller-panel {
    padding: 0.3rem;
    overflow: auto;
    height: 130px;
}

#main-controller-panel::-webkit-scrollbar {
    width: 5px;
    background-color: #808080;
}

#main-controller-panel::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 5px;
}

#main-controller-panel::-webkit-scrollbar-thumb:hover {
    background-color: #45a049;
}

/* Style for each toggle */
.toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    column-gap: 10px;
}

.toggle label {
    width: 60px;
}

.toggle label {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #45a049;
}

.custom-switch {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: var(--bs-red);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-switch::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.custom-switch:checked {
    background-color: var(--bs-success);
}

.custom-switch:checked::before {
    transform: translateX(20px);
}

.custom-input {
    width: 50px;
    height: 20px;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 6px;
    background: rgba(255, 255, 255, 0.79);
    border-right-width: 0px;
    border-bottom-width: 0px;
    box-shadow: inset 0px 0px 4px;
}

/* PANEL IN HERE END */

.rotate-container-progress-bar {
    rotate: -90deg;
}

.container-progress-bar {
    display: flex;
    height: 10px;
    /* background-color: #F0F0F0; */
    background-color: rgba(0, 0, 0, 0.5);
    border: #808080 1px solid;
}

.progress-bar-container {
    width: 100%;
}

.progress-bar {
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    transition: width 0.5s;
}

#draggable-health,
#draggable-armour,
#draggable-hunger,
#draggable-thirsty {
    position: absolute;
    cursor: move;
    z-index: 99;
    border: 1px solid #d3d3d3;
    width: 120px;
}

#draggable-health {
    top: 62px;
    left: 987px;
}

#draggable-armour {
    top: 62px;
    left: 1108px;
}

#draggable-hunger {
    top: 74px;
    left: 987px;
}

#draggable-thirsty {
    top: 74px;
    left: 1108px;
}

#health-status-bar {
    /* width: 90%; */
    height: 8px;
    background-color: #00FF00;
}

#armour-status-bar {
    /* width: 90%; */
    height: 8px;
    background-color: #4682B4;
}

#hunger-status-bar {
    /* width: 90%; */
    height: 8px;
    background-color: #FFA500;
}

#thirsty-status-bar {
    /* width: 90%; */
    height: 8px;
    background-color: #00BFFF;
}

.flex-container-information {
    display: flex;
    width: fit-content;
}

.flex-container-information .container-progress-bar {
    height: fit-content;
}

.flex-container-information .container-progress-bar div {
    padding: 0.3rem;
    font-weight: bold;
}

.flex-container-information .container-progress-bar #icon {
    color: #333;
    background-color: whitesmoke;
}

#draggable-id-player,
#draggable-biodata-player,
#draggable-player-job,
#draggable-player-money,
#draggable-player-bank {
    position: absolute;
    cursor: move;
    z-index: 99;
    color: whitesmoke;
    border: 1px solid #d3d3d3;
}

#draggable-id-player {
    top: 38px;
    left: 987px;
}

#draggable-biodata-player {
    top: 38px;
    left: 1035px;
}

#draggable-player-job {
    top: 39px;
    left: 1119px;
}

#draggable-player-money {
    top: 14px;
    left: 986px;
}

#draggable-player-bank {
    top: 14px;
    left: 1090px;
}

#draggable-speedmeter,
#draggable-fuelmeter,
#draggable-oilmeter,
#draggable-seatbelt,
#draggable-cruise-controll {
    position: absolute;
    cursor: move;
    z-index: 99;
}

#draggable-speedmeter {
    top: 480px;
    left: 117px;
}

#draggable-fuelmeter {
    top: 623px;
    left: 13px;
}

#draggable-oilmeter {
    top: 622px;
    left: 157px;
}

#draggable-seatbelt {
    top: 563px;
    left: 11px;
}

#draggable-cruise-controll {
    top: 527px;
    left: 11px;
}

#draggable-fuelmeter .container-progress-bar,
#draggable-oilmeter .container-progress-bar {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#fuelmeter-status-bar {
    background-color: #FF5733;
    height: 12px;
    width: 90%;
}

#oilmeter-status-bar {
    background-color: #009900;
    height: 12px;
}

#draggable-seatbelt .container-progress-bar,
#draggable-cruise-controll .container-progress-bar {
    width: 120px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

div#icon span#seatbelt-icon {
    display: inline-block;
    width: 30px;
    /* color: #FF5733;
    fill: #FF5733; */
}

div#icon i.fa-gauge {
    display: inline-block;
    width: 30px;
    font-size: 16px;
    /* color: #FF5733;
    fill: #FF5733; */
}

/*
$meter-bg-color: rgb(32,32,32);
$ring-color: #eee;
$grad-color: #9affff;
*/
@import url(https://fonts.googleapis.com/css?family=Coda:400|Roboto+Mono:400,400italic);

* {
    box-sizing: border-box;
}

.dashboard {
    display: inline-block;
    padding: 2rem;
    font-family: "Coda", cursive;
}

.meter {
    display: inline-block;
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.5rem;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23);
}

.meter:before {
    content: "";
    display: block;
    position: absolute;
    width: 107%;
    left: -3.5%;
    top: -3.5%;
    bottom: -3.5%;
    border-radius: 50%;
    background: #333;
    z-index: -1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.label {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    color: #555;
}

.label.label-value {
    color: #eee;
}

.label span {
    text-transform: uppercase;
}

.label-unit {
    top: 82.5%;
}

.label-unit div {
    font-size: 1rem;
}

.meter--big-label .label-unit div {
    font-size: 0;
}

.label-value {
    top: 45%;
    line-height: 1.25;
}

.label-value div,
.label-value span {
    font-size: 0;
}

.meter--big-label .label-value div,
.meter--big-label .label-value span {
    font-size: 1.5rem;
}

.label-value div {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
}

.meter--big-label .label-value span {
    font-size: 1rem;
}

.label-value span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.needle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1px;
    height: 55px;
    transform: translate3d(-50%, 0, 0);
    transform-origin: 50% 0;
    background-color: #e30;
    transition: transform 1s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.needle:before,
.needle:after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: transform 1s linear;
    border-style: solid;
}

.needle:before {
    left: -3px;
    border-width: 0 3px 50px 0;
    transition: transform 1s linear;
    border-color: transparent #ff5122 transparent transparent;
}

.needle:after {
    right: -3px;
    border-width: 50px 3px 0 0;
    transition: transform 1s linear;
    border-color: #d52e00 transparent transparent transparent;
}

.needle-axle {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 15%;
    height: 15%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background-color: #333;
    color: #eee;
    transition: transform 1s linear;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.needle-axle:hover {
    transition: transform 1s linear;
    background-color: black;
}

.meter--big-label .needle-axle {
    transition: transform 1s linear;
    width: 37.5%;
    height: 37.5%;
}

.grad {
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    color: #555;
    transform: translate3d(-50%, -50%, 0);
    font-weight: bold;
}

.grad.redzone {
    color: #e30;
}

.meter--rpm .grad {
    font-size: 1.5rem;
}

.grad-tick.redzone,
.grad-tick--half.redzone,
.grad-tick--quarter.redzone {
    background-color: #e30;
}

.grad-tick {
    position: absolute;
    display: block;
    width: 4px;
    height: 0.75em;
    transform-origin: 50% 0;
    background-color: #555;
}

.grad-tick--half {
    width: 2px;
    height: 0.5em;
}

.grad-tick--quarter {
    width: 2px;
    height: 0.25em;
}

.meter--gear {
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    margin: 0;
    margin-left: -2rem;
    margin-right: -2rem;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23);
}

.meter--gear:before {
    width: 128%;
    height: 128%;
    left: -14%;
    top: -14%;
    bottom: -14%;
}

.meter--gear div {
    top: -11px;
    left: 14px;
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    line-height: 5rem;
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    font-weight: bold;
    color: #555;
}

.meter--gear div.redzone {
    color: #e30;
}

/* RADIALMENU START */
#wheelDiv > svg {
    width: 100%;
    height: 100%;
  }
  #wheelDiv {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  #container {
    margin-top: 18%;
    flex-direction: column;
  }
/* RADIALMENU END */