#status_list {
	position: absolute;
    left: 2.2%;
    bottom: 0.7%;
    width: 15.7%;
    opacity: 65% !important;
    background-color: #212529;
}

.status {
	padding: 0 !important;
	margin: 0 !important;
	opacity: 75%;
}

.status_inner {
	padding: 1px;
}

.status_val {
	height : 0.5em;
}